body {
    background-image: url("../images/space_background.jpg");  
    background-size: cover; 
    background-attachment: fixed;
    background-position: center; 
}

.custom-font { 
    font-family: 'Press Start 2P', 'cursive'; 
} 

#message-board {
    font-family: monospace; 
    font-size: 1.1em; 
}  

.character-image {
    height: 5em;  
    width: 7em; 
}       

.remove-click { /* used to ensure click event on player registers if anywhere on the div is clicked, not one of its sibling elements */ 
    pointer-events: none; 
}

.character-start {
    background-color: white;
    color: black; 
    border-style: solid;
    border-color: green; 
    border-width: 0.25em;
    opacity: 1;  
}  
 
.character-enemy {
    background-color: red;
    color: black; 
    border-style: solid;
    border-color: black; 
    border-width: 0.25em;
}   

.character-defender {
    background-color: black;
    color: white; 
    border-style: solid;
    border-color: green; 
    border-width: 0.25em;
 
}

.fighter-ship {
    height: 12em; 
    width: 27em;  
}

.active-image-character { 
  position: absolute; 
  top: 3em; 
  left: 6em;  
} /* classes used to overlay the chosen character and enemey onto their respective image in the battle section */ 

.active-image-enemy {
    position: absolute; 
    top: 3em;  
    right: 6em; 
  } 
